@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Space Grotesk', sans-serif;
}
.front-card{
  background: url("./Assets/bg-card-front.png") no-repeat center/cover ;
  height: 200px;
  width: 320px;
  border-radius: 10px;
}

.back-card{
  background: url("./Assets/bg-card-back.png") no-repeat center/cover ;
  height: 200px;
  width: 320px;
  border-radius: 10px;
}

.back-card p{
   top: 5.2rem;
}

@media (min-width : 1024px ){
  .front-card , .back-card{
    height: 300px;
    width: 500px;
    border-radius: 20px;
}
.back-card p{
  top: 8.3rem;
}
}